body{
    font-family: 'Roboto', sans-serif;
}


/* index.php */

/* adminDashboard.php */


/* Fixed for Dashboard */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.blackBackPop{
    margin: 0px;
    padding: 0px;
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    background-color: black;
    z-index: 3;
    display: none;
}
.blackBackPop.activePop{
    display: block;
}

.blackBackPopEdit{
    margin: 0px;
    padding: 0px;
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    background-color: black;
    z-index: 3;
    display: none;
}
.blackBackPopEdit.activePop{
    display: block;
}
.center {
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.popup {
    overflow: scroll;
    width:30vw;
    height: 90vh;
    padding:30px 20px;
    background:#f5f5f5;
    border-radius:10px;
    box-sizing:border-box;
    z-index:4;
    text-align:center;
    opacity:0;
    top:-200%;
    transform:translate(-50%,-50%) scale(0.5);
    transition: opacity 300ms ease-in-out,
    top 1000ms ease-in-out,
    transform 1000ms ease-in-out;
}

.popupEdit {
    overflow: auto;
    width:30vw;
    height: 90vh;
    padding:30px 20px;
    background:#f5f5f5;
    border-radius:10px;
    box-sizing:border-box;
    z-index:4;
    text-align:center;
    opacity:0;
    top:-200%;
    transform:translate(-50%,-50%) scale(0.5);
    transition: opacity 300ms ease-in-out,
    top 1000ms ease-in-out,
    transform 1000ms ease-in-out;
}
.popup.activePop {
    opacity:1;
    top:50%;
    transform:translate(-50%,-50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}

.popupEdit.activePop {
    opacity:1;
    top:50%;
    transform:translate(-50%,-50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
}
.popup .icon {
    margin:40px 0px 5px 0;
    width:50px;
    height:50px;
    background-color: #0e3d6c;
    text-align:center;
    display:inline-block;
    border-radius:50%;
    line-height:63px;
    position: relative;
    margin-bottom: 20px;
}
.popupEdit .icon {
    margin:40px 0px 5px 0;
    width:50px;
    height:50px;
    background-color: #0e3d6c;
    text-align:center;
    display:inline-block;
    border-radius:50%;
    line-height:53px;


}
.popup .icon i.fa {
    font-size:30px;
    color:#ffffff;
}

.popupEdit .icon i {
    font-size:20px;
    color:#ffffff;
    position: relative;
    left: 2px;

}

.popup .title {
    margin:5px 0px;
    font-size:30px;
    font-weight:600;
    color: #0e3d6c;
}

.popupEdit .title {
    margin:5px 0px;
    font-size:30px;
    font-weight:600;
    color: #0e3d6c;
}
.popup .description {
    color:#222;
    font-size:15px;
    padding:5px;
}
.popupEdit .description {
    color:#222;
    font-size:15px;
    padding:5px;
}
.popup .dismiss-btn {
    margin-top:15px;
}

.popupEdit .dismiss-btn {
    margin-top:15px;
}
.popup .dismiss-btn button {
    padding:10px 20px;
    background:#ED2626;
    color:#f5f5f5;
    font-size:16px;
    font-weight:600;
    outline:none;
    border-radius:10px;
    cursor:pointer;
    transition: all 300ms ease-in-out;
    border: none;
}
.popupEdit .dismiss-btn button {
    padding:10px 20px;
    background:#ED2626;
    color:#f5f5f5;
    font-size:16px;
    font-weight:600;
    outline:none;
    border-radius:10px;
    cursor:pointer;
    transition: all 300ms ease-in-out;
    border: none;
}
.popup .dismiss-btn button:hover {
    color:#ED2626;
    border: 1px solid #ED2626;
    background:transparent;
}

.popupEdit .dismiss-btn button:hover {
    color:#ED2626;
    border: 1px solid #ED2626;
    background:transparent;
}
.popup > div {
    position:relative;
    top:10px;
    opacity:0;
}

.popupEdit > div {
    position:relative;
    top:10px;
    opacity:0;
}
.popup.activePop > div {
    top:0px;
    opacity:1;
}
.popupEdit.activePop > div {
    top:0px;
    opacity:1;
}
.popup.activePop .icon {
    transition: all 300ms ease-in-out 250ms;
}
.popupEdit.activePop .icon {
    transition: all 300ms ease-in-out 250ms;
}
.popup.activePop .title {
    transition: all 300ms ease-in-out 300ms;
}
.popupEdit.activePop .title {
    transition: all 300ms ease-in-out 300ms;
}
.popup.activePop .description {
    transition: all 300ms ease-in-out 350ms;
}

.popupEdit.activePop .description {
    transition: all 300ms ease-in-out 350ms;
}
.popup.activePop .dismiss-btn {
    transition: all 300ms ease-in-out 400ms;
}
.popupEdit.activePop .dismiss-btn {
    transition: all 300ms ease-in-out 400ms;
}
.exitIcon{
    float: left;
    color: #0e3d6c;
    font-size: 150%;
    cursor: pointer;
}

.exitIconEdit{
    float: left;
    color: #0e3d6c;
    font-size: 150%;
    cursor: pointer;
}
.addName{
    color: #0e3d6c;
    text-align: left;
    position: relative;;
    top: 10px;
    right: 5px;
    float: left;
    padding: 0 20px;
    border-radius: 4px;
}

.addFormTextArea{
    width: 90%;
    outline: none;
    border: none;
    padding: 15px 10px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.3);
    border-radius: 5px;
    color: #0e3d6c;
}
.sampleEmail{
    cursor: pointer;
    background-color: #0077FA;
    width: 90%;
    border: none;
    padding: 15px 10px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.3);
    border-radius: 5px;
    color: #fff;
    text-align: left;
    font-weight: lighter;
}
.addBookText{
    font-family: 'Roboto', sans-serif;
    resize: vertical;
    height: 50px;

}

.categoryOption{
    width: 90%;
    outline: none;
    border: none;
    padding: 15px 10px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.3);
    border-radius: 5px;
    color: #0e3d6c;
}

.popUpSubmitBtn{
    margin-top: 20px;
    background-color: #00C66B;
    color: white;
    padding: 10px 50px;
    outline: none;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size:16px;
    cursor: pointer;
    transition: all 500ms;
}

.popUpSubmitBtn:hover{
    border: 1px solid #00C66B;
    background: white;
    color: #00C66B;
}
#Menu {
    overflow: auto;
}
#name {
    cursor: pointer;
    margin-top: 45px;
    color: #0077FA;
    font-weight: bold;
    margin-left: 10vw;
    float: left;
    font-size: 130%;

}


ul {

    list-style-type: none;
    padding: 0px;
    float: right;
    margin-right: 10vw;
    margin-top: 35px;
}


.floatLeft {
    float: left;
    margin: 15px 15px;
    font-size: 100%;
}
#button a{
    color: white;
    background-color: #0077FA;
    opacity: 1 !important;
    padding: 10px 20px;
    border-radius: 100px;
    transition: all 500ms;
}
#button a:hover{
    background-color: transparent;
    border: 1px solid #0077FA;
    color: #0077FA;
}
.selected a {
    color: #0e3d6c !important;
    opacity: 1 !important;
}

li a {
    text-decoration: none;
    color: pink;
    opacity: 0.2 !important;
    font-weight: 400;
}

li a:last-child {

    text-decoration: none;
    color: black;

}


.page {
    padding-bottom: 100px;
    background-color: #F8FBFF;
    overflow: auto;
}

.errorpage{
    width: 100vw;
    height: 83vh;
    background-color: #F8FBFF;
    overflow: auto;
}
.errorpage p{
    text-align: center;
    font-size: 150%;
    opacity: 0.3;
    color: #0e3d6c;
    font-weight: lighter;
    position: relative;
    bottom: 10vh;
}

.errorpage a{
    text-decoration: none;
    color: #0e3d6c;
    padding: 10px 18px;
    border: 1px solid #0e3d6c;
    display: block;
    border-radius: 100px;
    margin: 0 auto;
    width: 138px;
    position: relative;
    bottom: 10vh;
}

.Error404{
    display: block;
    width: 15vw;
    margin: 15vh auto;
}

#pageTitle {
    margin-left: 10vw;
    margin-top: 50px;
    color: #0e3d6c;
    float: left;
    font-weight: bolder;
    font-size: 160%;
    margin-bottom: 4vw;

}
.bookList{
    margin-left: 10vw;
    width: 80vw;
    columns: 5;
    column-gap: 40px;
}

.bookList .bookPlace{
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 0 0 20px;
    background-color: #fff;
    break-inside: avoid;
    cursor: pointer;
}

.bookList .bookPlace .bookImgPlace{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}
.bookList .bookPlace h2{
    margin: 10px 0;
    text-align: center;
    color: #0e3d6c;
    font-size: 110%;
}

.poet{
    width: 17px;
    height: 22px;
    float: left;
    position: relative;
    top: 15px;
}
.authorName{
    float: left;
    margin-left: 10px;
    text-align: center;
    color: #0e3d6c;
    font-size: 100%;
    font-weight: lighter;
}
.authorPlace{
    justify-content: center;
    display: flex;
    position: relative;
    bottom: 10px;
    margin: 0px;
}
.bookList .bookPlace .available{
    text-align: center;
    font-size: 100%;
    font-weight: lighter;
    color: #00C66B;
    position: relative;
    bottom: 20px;

}
.issued{
    color: #ED2626;
    text-align: center;
    font-size: 100%;
    font-weight: lighter;
    position: relative;
    bottom: 20px;
}

.reserved{
    color: #eac820;
    text-align: center;
    font-size: 100%;
    font-weight: lighter;
    position: relative;
    bottom: 20px;
}

.bookAndDescPlace{
    position: relative;
    bottom: 30px;
    width: 100vw;
    overflow: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}


.bookAndDescPlace .bookImgPlace{
    margin-left: 10vw;
    float: left;
    width: 25vw;
}
.bookAndDescPlace .bookImgPlace img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.3);
}

.bookAndDescPlace .descPlace{
    width: 55vw;
    float: left;
}
.bookAndDescPlace .descPlace .BookName:first-child{
    margin-top: 50px;
}

.bookAndDescPlace .descPlace .BookName{
    margin-top: 0px;
    margin-left: 70px;
}

.bookAndDescPlace .descPlace .BookName .bookName{
    background-color: pink;
    padding: 3px 0px;
    width: 80px;
    text-align: center;
    color: white;
    background-color: #0e3d6c;
}

.bookAndDescPlace .descPlace .BookName .bookNamePlace{
    margin-left: 10px;
    padding: 3px 0px;

}

.desc{
    width: 43vw;
    text-align: justify;
    text-justify: inter-word;
}

.selectedBookButton{
    float: left;
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 100px;
    cursor: pointer;
}
.green{
    margin-left: 70px;
    border: solid 1px #00C66B;
    color: #00C66B;
    text-align: center;
    font-size: 100%;
}
.green span{
    font-size: 90%;
    font-weight: bold;
}
.red{
    margin-left: 70px;
    border: solid 1px #ED2626;
    color: #ED2626;
    text-align: center;
    font-size: 100%;
}
.yellow{
    margin-left: 70px;
    border: solid 1px #eac820;
    color: #eac820;
    text-align: center;
    font-size: 100%;
}
.red span{
    font-size: 90%;
    font-weight: bold;
}
.gray{
    border: solid 1px #ddd;
    color: #ddd;
    text-align: center;
}
.blue{
    border: solid 1px #0077FA;
    color: #0077FA;
    text-align: center;
}
.blue span{
    font-weight: bold;
}

.freeDownloadBut{
    float: left;
    margin-left: 70px;
    padding: 20px 20px;
    border-radius: 100px;
    cursor: pointer;
    background-color:#00C66B;
    color: #fff;
    position: relative;
    bottom: 20px;
    text-align: center;
}

.freeDownloadButDis{
    float: left;
    margin-left: 70px;
    padding: 20px 20px;
    border-radius: 100px;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #ddd;
    position: relative;
    bottom: 20px;
    text-align: center;
}

.issueBookImg{
    object-fit: cover;
    width: 40px;
    height: 40px;
    float: left;
    border-radius: 10px;
}

#search {
    color: #0e3d6c;
    width: 250px;
    border: none;
    border-radius: 100px;
    font-size: 90%;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.3);
    outline: none;
    padding: 13px 40px 13px 50px;
}
#searchPlace{
    margin-top: 45px;
    margin-right: 10vw;
    float: right;;
}
#searchIcon{
    position: relative;
    top: 11px;
    left: 38px;
    float: left;;
    width: 20px;
    height: 20px;
    background-image: url(img/loupe.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    opacity: 0.3;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #333;
    opacity: 0.2;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #333;
    opacity: 0.3;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #333;
    opacity: 0.3;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #333;
    opacity: 0.3;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}

.clear{
    clear: both;
}

.boxPlace{
    width: 79vw;
    height: 200px;
    margin-left: 10vw;
}

#boxes {
    vertical-align:top;
    display: inline-block;
    margin-left: 10vw;

}

.box {
    margin-right: 28px;
    float: left;
    width: 207px;
    height: 190px;
    border: 1px solid #eee;
    border-radius: 40px;
    background-color: white;
    text-align: center;
    padding-top: 10px;
    color: dimgray;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.3);
    margin-top: 30px;

}

.box:last-child {
    margin-right: 0;
}

.box img{
    width: 80%;
}
.iconBack{
    width: 40px;
    background-color: #f7f7f7;
    padding: 7px;
    border-radius: 10px;
    margin: 15px auto;
}
.forSmallIconBack{
    width: 40px;
    background-color: #f7f7f7;
    padding: 7px;
    border-radius: 10px;
    margin: 15px auto;
}
.forSmallIconBack img{
    width: 95%
}
.icons {
    font-size: 200% !important;
    background-color: #f7f7f7;
    padding: 7px;
    border-radius: 10px;
    margin-top: 15px;
    color: #0e3d6c;

}

.boxTextStyle {
    font-size: 95%;
    font-weight: lighter;
    color: #0e3d6c;

}

.boxNumberStyle {

    font-weight: bold;
    color: #0e3d6c;
    font-size: 120%;
}



#bottom {
    background-color: #0e3d6c;
    color: #eee;
    height: 52px;
    font-size: 90%;
    font-weight: 100;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;

}

#bottomOther{
    background-color: #0e3d6c;
    color: #eee;
    height: 52px;
    font-size: 90%;
    font-weight: 100;
    width: 99vw;
    position: relative;
    left: -7px;
}

.rowNums{
    float: left;
    margin-left: 10vw !important;
    margin-bottom: 20px;
}
#records{

    padding: 5px 15px 5px 10px;
    border-radius: 1000px;
    background-color: #0077FA;
    color: white;;
    border: none;
    outline: none;
}
#recordsPerPage{
    float: left;;
    margin-left: 20px;
    position: relative;
    bottom: 12px;
    color: #20416E;
    font-weight: lighter;
    opacity: 0.7;
}
#footer {
    float: left;
    position: relative;
    top: 5px;
    left: 10vw;
}


/* Student */
.leftrightIcon{
    position: relative;
    top: 10px;
}
.numPage{
    float: left;;
    margin: 0px;
    position: relative;;
    top: 9px;
    padding: 0 10px;
}
.numPage a{
    text-decoration: none;
    color: #20416E;
}
.addBtn{
    padding: 0px;
    margin: 0px;
    border: 1px solid #20416E;
    padding: 7px 15px 7px 30px;
    border-radius: 1000px;
    margin-right: 20px;
    color: #20416E;
}
.popupBtnn{
    position: relative;
    bottom: 15px;
    cursor: pointer;
}

.plusIcon{
    color: #20416E;
    position: relative;
    left: 25px;
    top: 9px;
}
.pageNum{
    float: right;
    margin-right: 9.5vw;
}
.float-left{
    float: left;;
}
#tbl{
    padding: 30px 0px;
    width: 100vw;
    position: relative;
    bottom: 30px;
}
#category{
    width: 80vw;
    border-collapse: collapse;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2) ;
    border-radius: 10px;
    margin: 0px auto;
}
#category th{
    padding: 15px;
    color: #20416E;
    text-align: center;
    font-weight: bold;
    border-left: 1px solid rgba(36, 65, 110, 0.2);
    border-right: 1px solid rgba(36, 65, 110, 0.2);
    border-bottom: 1px solid rgba(36, 65, 110, 0.2);

}
#category th:first-child{
    border-left: none;
}

#category th:last-child{
    border-right: none;
}

#category td{
    font-size: 90%;
    color: #20416E;
    padding: 20px;
    text-align: center;
    border-right: 1px solid rgba(36, 65, 110, 0.2);
}
#category td:last-child{

    border-right: none;
}


#category tr{
    border-bottom: 1px solid rgba(36, 65, 110, 0.2);
}

#category tr:last-child{
    border-bottom: none;
}


.active{
    cursor: pointer;
    color: white;
    background-color: #00C66B;
    padding: 6px 10px;
    border-radius: 100px;
}
.inactive{
    cursor: pointer;
    color: white;
    background-color: #ED2626;
    padding: 6px 10px;
    border-radius: 100px;
}

.edit{
    text-decoration: none;
    cursor: pointer;
    padding: 6px 15px;
    color: white;
    background-color: #0D81F5;
    border-radius: 100px;
    margin-right: 5px;
}

.removeBook{
    text-decoration: none;
    cursor: pointer;
    padding: 6px 15px;
    color: white;
    background-color: #ED2626;
    border-radius: 100px;
    margin-right: 5px;
}
.emailNotif img{
    width: 10px;
    height: 10px;
}
.emailNotif{
    float: right;
    background-color: #eac820;
    padding: 5px 8px;
    border-radius: 1000px;
    position: relative;
    right: 10px;
    cursor: pointer;
}
.returnBtn{
    position: relative;
    top: 5px;
    text-decoration: none;
    cursor: pointer;
    padding: 6px 15px;
    color: white;
    background-color: #0D81F5;
    border-radius: 100px;
    margin-right: 5px;
}

.returnBtnS{

    text-decoration: none;
    cursor: pointer;
    padding: 6px 15px;
    color: white;
    background-color: #0D81F5;
    border-radius: 100px;
    margin-right: 5px;
}
.issueBtn{
    cursor: pointer;
    color: white;
    padding: 6px 0px;
    background-color: #ED2626;
    border-radius: 100px;
    margin-right: 5px;
}
.reserveBtn{
    cursor: pointer;
    color: white;
    padding: 6px 0px;
    background-color: #eac820;
    border-radius: 100px;
    margin-right: 5px;
}
.block{
    text-decoration: none;
    cursor: pointer;
    padding: 6px 15px;
    color: white;
    background-color: #ED2626;
    border-radius: 100px;
    margin-right: 5px;
}
.unblock{
    text-decoration: none;
    cursor: pointer;
    padding: 6px 15px;
    color: white;
    background-color: #00C66B;
    border-radius: 100px;
    margin-right: 5px;
}




@media only screen and (max-width: 1137px) {
    .bookList{
        columns: 4;
    }
    .floatLeft {

        margin: 15px 15px;
        font-size: 90%;
    }

}

@media only screen and (max-width: 1040px) {
    .bookList{
        columns: 3;
    }

    ul {
        margin-right: 7vw;
    }

    #name {
        margin-left: 7vw;
    }
    .leftProfile{
        float: none;
        width: 100vw;
        margin-left: 70px;
    }

}

@media only screen and (max-width: 940px) {

    ul {
        margin-right: 5vw;
    }

    #name {
        margin-left: 5vw;
    }

}

@media only screen and (max-width: 900px) {

    #Menu {
        overflow: inherit;
    }

    #name {

        color: #0077FA;
        font-weight: bold;
        text-align: center;
        float: none;
        font-size: 130%;

    }
    ul {
        height: 100px;
        list-style-type: none;
        padding: 0px;
        width: 80vw;
        margin: 0 auto;
        float: none;

    }
    .floatLeft {
        font-size: 77%;
    }
    #search {
        width: 180px;
        border: none;
        border-radius: 100px;
        font-size: 85%;
        box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.3);
        outline: none;
        padding: 13px 40px;
        color: #0e3d6c;
    }
    #searchPlace{
        margin-top: 45px;
        margin-right: 11vw;
        float: right;
    }
    #searchIcon{
        position: relative;
        top: 12px;
        left: 30px;
        float: left;;
        width: 20px;
        height: 20px;
        background-image: url(img/loupe.png);
        background-repeat: no-repeat;
        background-size: 20px 20px;
        opacity: 0.3;
    }

}

@media only screen and (max-width: 650px) {
    .bookList{
        margin-top: 30px;
        columns: 2;
    }
    #pageTitle{
        float: none;
    }
    #search {
        width: 300px;
    }
    #searchPlace{
        margin-top: 10px;
        margin-left: 5vw;
        margin-right: 0px;
        float: none;
    }
    .rowNums{
        margin-top: 20px;
    }
    #recordsPerPage{
        margin-top: 20px;
        position: relative;
        bottom: 0px;
        top: 5px;
    }
    .pageNum{
        margin-top: 18px;
    }
}


@media only screen and (max-width: 500px) {
    .bookList{
        margin-top: 30px;
        columns: 1;
    }

    ul {
        margin-left: 15vw;
    }


}


/* Student.php */



.studentProfile{
    border-radius: 1000px;
    width: 50px;
    height: 50px;
    margin: 0px;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    margin: 0 10px;
    cursor: pointer;
}
.studentProfileSelected{
    opacity: 1;
}

.leftProfile{
    float: left;
    width: 25vw;
    margin-left: 70px;
}

.leftProfile .profileImg{
    float: left;
    cursor: pointer;
    object-fit: cover;
    width: 18vw;
    height: 18vw;
    border-radius: 1000px;
    display: block;
    margin: 0 auto;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.3);
    transition: all 1s;
}

.leftProfile .profileImgNo{
    cursor: pointer;
    object-position: 25px;
    object-fit: scale-down;
    width: 18vw;
    height: 18vw;
    border-radius: 1000px;
    display: block;
    margin: 0 auto;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.3);
    transition: all 1s;
}

.leftProfile .profileInputTitle{
    color: #0e3d6c;
    margin-left: 25px;
    font-weight: bold;
    font-size: 110%;
    border-radius: 1000px;
}

.leftProfile .inputProfile{
    width: 100%;
    height: 50px;
    border-radius: 1000px;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    padding: 0 30px;
    box-sizing: border-box;
    font-weight: lighter;
    position: relative;
    bottom: 10px;
    color: #0e3d6c;
    font-size: 100%;
    font-family: sans-serif;
}

.gap{
    height: 50px;
    background-color: transparent;
}

.submitProfile{
    width: 75%;
    height: 50px;
    border-radius: 1000px;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.3);
    outline: none;
    padding: 0 30px;
    font-weight: lighter;
    background-color: #0e3d6c;
    color: white;
    font-size: 100%;
    font-family: sans-serif;
    border: none;
    position: relative;
    top: 10px;
}

.studentProfile img{
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 1000px;
}
.updateImg img{
    float: left;
    width: 30px;
    height: 30px;
    background-color: white;
    padding: 10px;
    box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    position: relative;
    top: 100px;
    left: 20px;
    cursor: pointer;
}

.firstLeftProfile{
    margin-left: 10vw;
    margin-top: -50px;
}
.test{
    margin-top: 50px;
}
.Error{
    color: #ED2626;
    position: relative;
    bottom: 10px;
    left: 25px;
    font-size: 80%;
}
@media only screen and (max-width: 1040px) {

    .leftProfile{
        float: none;
        width: 80vw;
        margin-left: 70px;
        margin-left: 10vw;
    }
    .firstLeftProfile{
        margin-left: 10vw;
    }

    .leftProfile .inputProfile{
        width: 50%;
        display: block;
        margin: 0 auto;
    }
    .leftProfile .profileInputTitle{
        position: relative;
        left: 20vw;
        width: 50%;
        font-size: 100%;
    }
    .updateImg img{
        width: 20px;
        height: 20px;
        cursor: pointer;
        z-index: 2;
        float: none;
        margin-left: 27vw;
    }
    .leftProfile .profileImg{
        float: none;
        display: block;
        margin: 0 auto;
        transition: all 1s;
        z-index: 0;

    }
    .test{
        margin-top: 50px;
    }
    .gap{
        height: 0px;
    }
    .submitProfile{
        width: 50%;
        height: 50px;
        display: block;
        margin: 0 auto;
        font-size: 100%;
        border: none;
    }
    .Error{
        color: #ED2626;
        font-size: 80%;
        text-align: center;
        margin-right: 50px;
    }
}


@media only screen and (max-width: 840px) {

    .leftProfile{
        float: none;
        width: 80vw;
        margin-left: 70px;
        margin-left: 10vw;
    }
    .firstLeftProfile{
        margin-left: 10vw;
    }

    .leftProfile .inputProfile{
        width: 70%;
        display: block;
        margin: 0 auto;
    }
    .leftProfile .profileInputTitle{
        position: relative;
        left: 13vw;
        font-size: 100%;
    }
    .updateImg img{
        width: 20px;
        height: 20px;
        cursor: pointer;
        z-index: 2;
        float: none;
        margin-left: 27vw;
    }
    .leftProfile .profileImg{
        float: none;
        display: block;
        margin: 0 auto;
        transition: all 1s;
        z-index: 0;

    }
    .test{
        margin-top: 50px;
    }
    .gap{
        height: 0px;
    }
    .submitProfile{
        width: 70%;
        height: 50px;
        display: block;
        margin: 0 auto;
        font-size: 100%;
        border: none;
    }
}

/*
Login and signup pages
 */

#indexMenu{
    position: relative;
    overflow: hidden;
}
.nav{
    cursor: pointer;
    text-align: center;
    width: 350px;
    margin:50px auto;
    background-color: #0077FA;
    padding: 20px;
    border-radius: 20px;
}
.nav a{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 115%;
}


.loginPlace{
    display: none;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.3);
    position: relative;
    bottom: 20px;
    margin: 0 auto;
    width: 50vw;
    height: 500px;
    background-color: red;
}
.signUpPlace{
    display: none;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.3);
    position: relative;
    bottom: 20px;
    margin: 0 auto;
    width: 50vw;
    height: 500px;
    background-color: red;
}
.loginLeftSec{
    overflow: auto;
    width: 50%;
    height: 100%;
    background-image: url("img/Asset 3Halo.png");
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
}
.firstLine{
    text-align: center;
    margin-top: 150px;
    color: white;
    font-weight: lighter;;
}
.secondLine{
    text-align: center;
    position: relative;
    bottom: 10px;
    color: white;
    font-weight: bold;
    font-size: 200%;
}
.breakLine{
    width: 12%;
    height: 10px;
    border-radius: 100px;
    background-color: white;
    margin: 0 auto;
    position: relative;
    bottom: 30px;
}
.thin{
    font-weight: lighter;
    color: white;
    font-size: 85%;
    text-align: center;
}
.contactInfo{
    margin: 0 auto;
    text-align: center;
    width: 45%;
    padding: 3px;
    background-color: white;
    color: #0077FA;
    border-radius: 30px;
}
.loginRightSec{
    float: left;
    width: 50%;
    height: 100%;
    background-color: white;
}

.loginTitle{
    color: #0e3d6c;
    font-weight: bold;
    font-size: 200%;
    text-align: center;
    margin-top: 80px;
}
.loginInputs:first-child{
    margin-top: px;
}
.loginInputs{
    margin-top: 0px;
    box-sizing: border-box;
    width: 80%;
    height: 40px;
    margin-left: 10%;
    border-radius: 200px;
    padding-left: 50px;
    border: none;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.3);
    outline: none;
}
.loginIconImg{
    width: 18px;
    position: relative;
    top: 33px;
    left: 55px;
}
.loginSignUp{
    position: relative;
    bottom: 15px;
    display: block;
    width: 70%;
    border-radius: 100px;
    color: white;
    background-color: #0077FA;
    border: none;
    padding: 10px;
    margin: 0px auto;
    font-size: 110%;
}
.loginSignUp1{
    position: relative;
    top: 30px;
    display: block;
    width: 70%;
    border-radius: 100px;
    color: white;
    background-color: #0077FA;
    border: none;
    padding: 10px;
    margin: 0px auto;
    font-size: 110%;
}
.grayUnderline{
    text-align: center;
    color: #999999;
    font-size: 85%;
    display: block;
    margin: 30px auto;
    text-decoration: underline;
}

.activeSec{
    display: block;
}
@media only screen and (max-width: 1160px) {
    .loginPlace{

        width: 80vw;
        height: 500px;
        background-color: red;
    }

}

@media only screen and (max-width: 640px) {
    .loginPlace{

        width: 95vw;
        height: 500px;
        background-color: red;
    }
    .loginLeftSec{
        width: 100%;
        float: none;
    }
    .loginRightSec{
        width: 100%;
        float: none;
    }
    .loginIconImg{
        width: 18px;
        position: relative;
        top: 33px;
        left: 70px;
    }

}